td, th {
	border: 1px solid;
	background-color: #2fb6ed;
        color: white;
}

h1,  {
    font-size: 30px;
    color: White;
    text-align: center;
}

body {
  background-color: blue;
}
