td, th {
	border: 1px solid;
	background-color: #2fb6ed;
        color: white;
}

h1{
    float: none;
    background: white;
    position:relative;
    left: 5px;
    border: 8px solid;
    text-align: center;
  }
  
  .planet{
    background-color: blue;
    color: lightblue;
    border: 1px black;
    margin: 12px;
    padding: 18px;
  }

body {
  background-color: tan;
}


p {
  font-family: verdana;
  font-size: 20px;
}
