td, th {
	border: 1px solid;
	background-color: #04AA6D;
        color: white;
}

h1,  {
    font-size: 30px;
    color: White;
    text-align: center;
}

body {
  background-color: Orange;
}
